<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>Document</title>
  <style>
    body {
      background-color: #404258;
    }



    .carousel-caption {
      position: unset;
    }

    #heading{
      margin-top: 3%;
    }
  </style>
</head>

<body class="text-white">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ticket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Admin menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Venues <i class="bi bi-geo-alt-fill"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/venue_create">Create Venue</a></li>
                <li><a class="dropdown-item" href="/venue_edit">Edit Venue</a></li>
                <li><a class="dropdown-item" href="/venue_delete">Delete Venue</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Shows <i class="bi bi-film"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/show_create">Create Show</a></li>
                <li><a class="dropdown-item" href="/show_edit">Edit Show</a></li>
                <li><a class="dropdown-item" href="/show_delete">Delete Show</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin_summary">Summary</a>
            </li>
            <a href="/log_out" class="btn btn-outline-danger position-absolute bottom-0 end-0">Log Out</a>
          </ul>
        </div>
      </div>
    </div>
  </nav>





  <div class="mt-5 p-2 container toggle-hidden">
    <h1 id="heading">Summary</h1>
    {%for show in shows%}
      <div class="container bg-dark p-3 rounded">
        <h1>{{show.show_name}}</h1>
        <p class="text-secondary">
          <span class="p-2 bg-black rounded-4">rating: <span class="text-white">{{show.show_rating}}</span></span>
          <span class="p-2 bg-black rounded-4">price_per_ticket: <span class="text-white"><i class="bi bi-currency-rupee"></i>{{show.show_price_per_ticket}}</span></span>
          {%for venue in show.show_vens%}
          <div class="progress my-3" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
            {%for show_in_venue in show_in_venues%}
              {%if show_in_venue.show_id==show.show_id and show_in_venue.venue_id==venue.venue_id%}
                {%set fraction,numerator=(show_in_venue.no_of_tickets_booked/venue.venue_max_seats_per_show)*100, show_in_venue.no_of_tickets_booked%}
                <div class="progress-bar bg-success overflow-visible text-dark p-2 fs-4"style="width: {{fraction}}%;">{{venue.venue_name}}: {{numerator}}/{{venue.venue_max_seats_per_show}}</div>
              {%endif%}
            {%endfor%}
          </div>
          {%endfor%}
        </p>
      </div>
    {%endfor%}
  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>